<div class="row d-flex g-3 justify-content-end border border-2 rounded pb-3">

  @for (filtro of filtros; track filtro.campo) {

    @if (filtro.tipo === 'text' || filtro.tipo === 'email'  || filtro.tipo === 'date' ) {
      <div class="col-auto col-md-auto">
        <input
          [type]="filtro.tipo"
          class="form-control"
          [(ngModel)]="valores[filtro.campo]"
          [placeholder]="filtro.titulo"
        />
      </div>
    }

    @if (filtro.tipo === 'select') {
        <div class="col-4 col-md-2">
            <select
            class="form-select"
            [(ngModel)]="valores[filtro.campo]"
            [class.filtro-erro]="filtroErro === filtro.campo">

            <option [ngValue]="0" selected disabled>
                {{ filtro.titulo }}
            </option>

            @for (opcao of filtro.opcoes; track opcao.valor) {
                <option [ngValue]="opcao.valor">
                {{ opcao.texto }}
                </option>
            }

            </select>
        </div>
        }
  }

  <div class="col-auto mt-auto">
    <button
      type="button"
      class="btn btn-primary"
      (click)="aplicar()">
      Filtrar
    </button>
  </div>
  
</div>